<% content_for(:page_title) do "Users" end %>
<% content_for(:page_heading) do "Users" end %>

<table id="gradient-style" summary="Users">
  <thead>
    <tr>
      <th>Users</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
	<%
	   display_name = "#{user.givenname} #{user.surname}"
	   display_name.rstrip!
	   display_name.lstrip!
	   if display_name.empty?
	     display_name = "(no name)"
	   end
	   %>
	<%= link_to display_name, user %>
      </td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr><td><%= pluralize(@users.size, 'user') %></td></tr>
  </tfoot>
</table>

<div id="actions">
  <div class="main">
    <%= link_to('New user', new_user_path, class: 'buttonNew') %>
  </div>
</div>

<% content_for(:navigation) { side_nav_bar(:administration) } %>
