<% content_for(:page_title) do "Roles" end %>
<% content_for(:page_heading) do "Roles" end %>

<p id="notice"><%= notice %></p>

<table id="gradient-style" summary="Roles">
  <thead>
    <tr>
      <th>Roles</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
    <tr>
      <td>
	<% display_name = role.name
	   if display_name.empty?
	     display_name = role.shortname
	     if display_name.empty?
	       display_name = "(no name)"
	     end
	   end
	   %>
	<%= link_to display_name, role, :title => role.uuid %>
      </td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr><td><%= pluralize(@roles.size, 'role') %></td></tr>
  </tfoot>
</table>

<div id="actions">
  <div class="main">
    <%= link_to('New role', new_role_path, class: 'buttonNew') %>
  </div>
</div>

<% content_for(:navigation) { side_nav_bar(:administration) } %>
