<% content_for(:page_title) do "Role: #{@role.shortname}" end %>
<% content_for(:page_heading) do "Role: #{@role.name}" end %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="propertiesShow">

<div class="item">
  <dl>
    <dt><span>Name</span></dt>
    <dd class="first"><%= @role.name %></dd>
  </dl>
</div>

<div class="item">
  <dl>
    <dt><span>Shortname</span></dt>
    <dd class="first"><%= @role.shortname %></dd>
  </dl>
</div>

<div id="editActions">
  <%= link_to('Edit this role', edit_role_path(@role), class: 'buttonEdit') %>
</div>

</div>

<% content_for(:navigation) { side_nav_bar(:administration) } %>
