// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mainWidth: 960px;

$contentMargin: 20px;
$contentWidth: 674px;
$contentRadius: 8px;

$itemMarginTop: 5px;
$itemMarginBottom: 0px;

$labelWidth: 220px;
$labelMarginRight: 10px;
$labelPaddingTop: 2px;

$fieldWidth: $contentWidth - ($labelWidth + $labelMarginRight);

$fieldextraMarginTop: 8px;

$inputMargin: 0px;
$inputBorder: 1px;
$inputPadding: $labelPaddingTop;
$inputWidth: $fieldWidth - 2 * ($inputMargin + $inputBorder + $inputPadding);

/* General */

/* Search form */

div#record-search {
 margin: 20px 0 40px 0;

 label {
  display: none;
 }
 input#q {
  min-width: $contentWidth - 100px;
 }
 input#submit {
  margin-left: 10px;
 }
}

/* Results table */

table#gradient-style {
  width: $contentWidth;
  margin: 16px 0;
  border: 0;
  padding: 0;
  border-collapse: collapse;

  thead {
    tr {
      border-top: 0;
    }
    tr:hover {
      background: inherit;
    }
    th {
      padding: 1ex 0;
      color: #666;
      background: inherit;
    }
  }
  tfoot {
    tr {
      border-bottom: 0;
    }
    tr:hover {
      background: inherit;
    }
    td {
      padding: 1ex 0;
      color: #999;
      text-align: right;
      font-size: small;
    }
  }

  tr {
    margin: 0; border: 0; padding: 0;
    border-top: thin dotted #ccc;
    border-bottom: thin dotted #ccc;
  }
  tr:hover {
    background: #eeeeee;
  }
  td {
    position: relative;
    width: 100%;
    text-align: left;
    font-weight: normal;

    h1 {
      font-size: inherit;
      text-transform: none;
      margin-right: 5em;
      a {
        display: inline-block;
        width: 100%;
        padding: 3px 0;
        text-decoration: none;
	color: black;
      }
      a:hover {
        background: none;
        color: black;
        text-decoration: underline;
      }
    }
    span {
      display: block;
      color: #999;
      font-size: small;
      padding: 0 0 10px 1px;
    }
    span.type {
      display: block;
      position: absolute;
      top: 0.5ex;
      right: 0;
      color: #ccc;
      font-size: small;
      padding: 0 0 10px 1px;
    }
  }
}

/* Edit form */

div#propertiesEdit,
div#propertiesShow {

  display: inline-block;

  h3 {
    margin: 10px 0 2px 0;
    color: lightgray;
    font-size: medium;
    font-weight: bold;
  }

  p {
    margin: $fieldextraMarginTop 0 0 ($labelWidth + $labelMarginRight);
  }

  div.item {
    margin: $itemMarginTop 0 $itemMarginBottom 0;
    padding: 0;
    width: $contentWidth;

    dl {
      margin: 0;

      dt {
        display: none;
      }
      dt:first-child {
        display: inline-block;
        width: $labelWidth;
        margin: 0 $labelMarginRight 0 0;
        border: 0;
        padding: $labelPaddingTop 0 0 0;
        text-align: right;
        vertical-align: top;
        font-size: small;
        font-weight: normal;
        color: #666;
      }

      /* dt.label1:after { content: ":"; } */
      @mixin DD_COMMON {
        display: inline-block;
        width: $inputWidth;
        border: 0; padding: 0;
        vertical-align: top;
      }

      dd.first {
        @include DD_COMMON;
	margin: 0;
      }
      dd {
        @include DD_COMMON;;
        margin: $fieldextraMarginTop 0 0 ($labelWidth + $labelMarginRight);

	a.link-internal {
	  font-style: italic;
	}

	a.link-external {
	  font-style: italic;
	  background: yellow;
	}

	span.link-identifier {
	  font-style: italic;
	}
      }
      input, textarea {
        margin: $inputMargin;
        border: $inputBorder solid lightgray;
        padding: $inputPadding;
        width: $inputWidth;
      }
      input.checkbox {
        width: auto;
      }
      input#upload_datafile {
	  border: 0;
      }
      textarea {
        height: 64px;
        resize: vertical;
      }
  
    } /* dl */

    /* Add field button */
    
    p.addField {
      margin: 0;
      text-align: right;
    }
    a.addField {
      display: inline-block;
      padding: 2px 4px;
      border-radius: 5px;
      text-decoration: none;
      color: #999;
    }
    a.addField:hover {
      color: #fff;
      background: green;
    }

  } /* div.item */

  /* Custom formatting for certain fields */

  div.item#FoR input { width: 70px; }
  div.item#SEO input { width: 80px; }
  div.item#keyword input { width: 150px; margin: 0; }

}

p#updatedTime {
 clear: both;
 font-size: small;
 color: #ccc;
}

span.link {
 font-style: italic;
}

/* Create new record link on index page */

a.new {
  display: block;
  width: 150px;
  margin: 0 auto;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 4px 0 4px 0;
  font-size: small;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: #ccc;
  color: black;
}
a.new:hover {
 color: white;
 background: #999;
 border-color: #333;
}
a.new:active {
 color: black;
}

