/* Site CSS */

$mainWidth: 960px;

$contentMargin: 20px;
$contentWidth: 674px;
$contentRadius: 8px;

$itemMarginTop: 20px;
$itemMarginBottom: 0px;

$labelWidth: 220px;
$labelMarginRight: 10px;
$labelPaddingTop: 2px;

$fieldWidth: $contentWidth - ($labelWidth + $labelMarginRight);

$fieldextraMarginTop: 8px;

$inputMargin: 0px;
$inputBorder: 1px;
$inputPadding: $labelPaddingTop;
$inputWidth: $fieldWidth - 2 * ($inputMargin + $inputBorder + $inputPadding);

$actionsMarginTop: 30px;
$actionsMarginBottom: 20px;


body {
 background: #eee;
 margin: 0; border: 0; padding: 0;
 font-family: sans-serif;
}

div#header {
 margin: 0;
 border: 0;
 padding: 0.5ex 0em;
 background: #666;
 min-height: 64px
}
div.inner {
 margin: 0 auto;
 width: 960px;
}
h1 {
 margin: 0;
 padding: 1ex 0em;
 color: yellow;
 font-size: x-large;
 font-weight: normal;
}

div#topnav {
  display: block;
  margin: 0; border:0; padding: 0;
  background: black;
  font-size: 9pt;
}
div#topnav ul {
 margin: 0 auto;
 width: 960px;
}
div#topnav li {
  display: inline-block;
  margin: 0; border:0; padding: 0;
}
div#topnav a {
 display: inline-block;
 min-height: 17px;
 padding: 8px 2em;
 color: white;
 text-transform: uppercase;
 text-decoration: none;
}
div#topnav a:hover {
 background: #999;
 border-bottom: white;
}

div#content-primary {
 position: relative;
 width: 960px;
 margin: 16px auto;
 border: 1px solid #eee;
 border-radius: 8px;
 padding: 18px;
 background: white;
}

#notice {
  color: green;
  padding: 1ex 0;
}

div#footer {
 color: #666;
 text-align: center;
}
div#footer a {
 text-decoration: none;
}
div#footer a:hover {
 background: none;
 color: black;
}

div#login-block {
  position: fixed;
  top: 1ex;
  right: 1em;

  p.username {
    display: inline;
    margin-right: 1em;
    font-size: small;
    color: #ccc;
  }
  /* p.username:before { content: "Welcome "; } */

  p.login-link {
    display: inline;

    a {
      color: white;
      font-size: x-small;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

  }
}

/* Navigation */

div#content-secondary {
 position: absolute;
 top: 0;
 right: 0;
 width: 200px;
 margin: 90px auto;
 border: 1px solid #eee;
 border-radius: 8px;
 padding: 18px;
 background: lightblue;

 h1 {
   font-size: medium;
 }
  
 ul {
   display: block;
   margin: 0; border: 0; padding: 0;
   li {
     margin: 0; border: 0; padding: 0;
     list-style: none;
     a {
       display: block;
       margin: 0; border: 0;
       padding: 1ex 1em;
       text-decoration: none;
       background: lightgreen;
     }
     a:hover {
	 background: black;
     }
   }
 }
}
