/* Site CSS */

$mainWidth: 960px;

$contentMargin: 20px;
$contentWidth: 674px;
$contentPadding: 18px;
$contentMinHeight: 230px;

$itemMarginTop: 20px;
$itemMarginBottom: 0px;

$labelWidth: 220px;
$labelMarginRight: 10px;
$labelPaddingTop: 2px;

$fieldWidth: $contentWidth - ($labelWidth + $labelMarginRight);

$fieldextraMarginTop: 8px;

$inputMargin: 0px;
$inputBorder: 1px;
$inputPadding: $labelPaddingTop;
$inputWidth: $fieldWidth - 2 * ($inputMargin + $inputBorder + $inputPadding);

$actionsMarginTop: 10px;
$actionsMarginBottom: 25px;

body {
 background: #eee;
 margin: 0; border: 0; padding: 0;
 font-family: sans-serif;
}

div#header {
 margin: 0;
 border: 0;
 padding: 0.5ex 0em;
 background: #666;
 background-image: -webkit-linear-gradient(top, #555, #666 20%, #666);
 background-image: linear-gradient(to bottom, #555, #666 20%, #666);
 min-height: 64px

 h1 {
  text-shadow: 1px 1px 1px #000;
 }
}
div.inner {
 position: relative;
 margin: 0 auto;
 width: $mainWidth;
}
h1 {
 margin: 0;
 padding: 1ex 0em;
 color: white;
 font-size: x-large;
 font-weight: normal;
}

div#topnav {
  display: block;
  margin: 0; border:0; padding: 0;
  background: #333333;
  background-image: -webkit-linear-gradient(top, #404040 0%, #333333 50%, #222222 51%, #383838 100%);
  background-image: linear-gradient(to bottom, #404040 0%, #333333 50%, #222222 51%, #383838 100%);
  font-size: 9pt;

  ul {
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin: 0; border:0; padding: 0;
    }
  }
}
div#topnav a {
 display: inline-block;
 min-height: 17px;
 padding: 12px 2em 6px 2em;
 color: white;
 text-transform: uppercase;
 text-decoration: none;
}
div#topnav a:hover {
  color: black;
  background: #999;
  border-bottom: white;
  text-decoration: underline;
}

div#main div.inner {
 margin: 18px auto;
 border: 1px solid #eee;
 border-radius: 8px;
 padding: $contentPadding;
 width: $mainWidth - $contentPadding * 2;
 background: white;
 -webkit-box-shadow: 3px 3px 2px  #ccc;
 box-shadow:         3px 3px 2px  #ccc;
 min-height: $contentMinHeight;
}

#notice {
  color: green;
  padding: 1ex 0;
}

div#footer {
 color: #666;
 text-align: center;
}
div#footer a {
 text-decoration: none;
}
div#footer a:hover {
 background: none;
 color: black;
}

div#login-block {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9pt;

  p.username {
    display: inline;
    margin-right: 1em;
    color: #999;
  }
  /* p.username:before { content: "Welcome "; } */

  p.login-link {
    display: inline;

    a {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
    }
    a:hover {
      color: black;
      text-decoration: underline;
    }
  }
}


/* Action area */

div#actions {
  position: relative;
  width: $fieldWidth;
  margin: $actionsMarginTop 0 $actionsMarginBottom ($labelWidth + $labelMarginRight);
  padding: 0;
  min-height: 40px;
  div.main { position: absolute; right: 0px; }
  div.alt { position: absolute; top: 0px; }
  div.subordinate { position: absolute; left: -$labelWidth; }

  input { margin: $actionsMarginTop 0 $actionsMarginBottom 0; }
}

/* Button hyperlinks */

a.buttonCancel,
a.buttonDelete,
a.buttonEdit,
a.buttonNew {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: inline-block;
  margin: 2ex 0;
  border: 1px solid #8a8a8a;
  border-radius: 3px;
  padding: 2px 8px;
  color: #000;
  background: #e8e8e8;
  background-image: -webkit-linear-gradient(top, #ffffff, #e8e8e8, #f0f0f0);
  background-image: linear-gradient(to bottom, #ffffff, #e8e8e8, #f0f0f0);
  text-decoration: none;
  font-family: "Lucida Grande", sans-serif;
  font-size: 10px;
}

a.buttonCancel:active,
a.buttonDelete:active,
a.buttonEdit:active,
a.buttonNew:active {
  background: #ccc;
}

/* Navigation */

ul#navigation {
 position: absolute;
 top: $contentPadding;
 right: $contentPadding;
 width: $mainWidth - $contentWidth - 3 * $contentPadding;
 margin: 0;
 border: 0;
 border-radius: 8px;
 padding: 8px 0;
 background: #ddd;

   ul {
     padding: 0;
   }
   li {
     margin: 0; border: 0; padding: 0;
     list-style: none;
     a {
       display: block;
       margin: 0; border: 0;
       padding: 1ex 1em 1ex 2em;
       text-decoration: none;
       background: #ddd;
       color: #333;
       font-size: small;
     }
     a:hover {
       text-decoration: underline;
       background: #666;
       background-image: -webkit-linear-gradient(top, #444 0%, #555 20%, #333 51%, #555 100%);
       background-image: linear-gradient(to bottom, #444 0%, #555 20%, #333 51%, #555 100%);
       color: #fff;
     }
     a.head {
       padding: 1ex 1em 1ex 1em;
       font-weight: bold;
     }
   }
}
