// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$mainWidth: 960px;

$contentMargin: 20px;
$contentWidth: 674px;
$contentRadius: 8px;

$labelWidth: 220px;
$labelMarginTop: 7px;
$labelMarginRight: 10px;
$labelMarginBottom: 0px;

$labelPaddingTop: 2px;

$valueWidth: $contentWidth - ($labelWidth + $labelMarginRight);

/* Style for index */

table#users {
 width: $contentWidth;
 border-collapse: collapse;

 tr:hover {
  background: #eee;
 }
}
